@import url(http://fonts.googleapis.com/css?family=Permanent+Marker:400,700,600);

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Permanent Marker';
  background-color:#F5F5DC;
}

a:link {
  color: #A52A2A;
}