<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="app/static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('index') }}">Litness Test: Score Based on Rap/Hip-Hop Attributes</a>
    </h3>

    <hr/>
    <table>
         <thead>
            <tr>
               <th>Title</th>
               <th>Artist</th>
               <th>Litness score</th>
            </tr>
         </thead>

         <tbody>
            {% for track in tracks %}
               <tr>
                   <td>{{ track.title }}</td>
                   <td>{{ track.artist }}</td>
                   <td>{{ track.score }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <form action="{{ url_for('add_prediction') }}" method=post class=add-entry>
      <dl>
        <input type=text size=15 name=search placeholder="Song">
        <input type=submit value=Search>
      </dl>
    </form>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}

</body>
</html>